*{
    box-sizing: border-box;
    font-family: Calibri, sans serif;
    margin: 0;
    padding: 0;
}
#box1{
    background-color: #ccc;
    width: 250px;
    border: 1px solid #000;
    padding: 25px;
}

#box2{
    background-color: #ccd;
    width: 250px;
    border: 1px solid #000;
    padding: 25px;
    position: relative;
    left: 100px;
    top: -10px;
}
#box3{
    background-color: #cce;
    width: 250px;
    border: 1px solid #000;
    padding: 25px;
    position: relative;
    left: 200px;
    top: -20px;
}