* {
    font-family: Calibri, sans serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("assets/hout.jpg");
}
header{
    background-image: url("assets/witte-marmer.jpg");
    border-top: 3px solid #4b0000;
    border-left: 3px solid #4b0000;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding: 25px;
    width: 600px;
    margin-bottom: 25px;
    color: #4b0000;
}
main table{
    border-top: 3px solid #4b0000;
    border-left: 3px solid #4b0000;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-collapse: collapse;
}
main table td{
    border: 1px solid #4b0000;
    text-align: center;
    height: 75px;
    width: 75px;
}
main table tr:nth-child(odd) td:nth-child(odd),
main table tr:nth-child(even) td:nth-child(even){
    background-image: url("assets/witte-marmer.jpg");
}
main table tr:nth-child(odd) td:nth-child(even),
main table tr:nth-child(even) td:nth-child(odd){
    background-image: url("assets/zwarte-marmer.jpg");
}

