td{
    border: 5px black double;

}
img{
    height: 100%;
    width: 100%;
}
body{

}
table{
    height: 50%;
    width: 50%;
    alignment: center;
}
th{
    text-align-all: left;
    border: 5px solid black;

}